<!doctype html>
<html>
  <head>
    <title>GoodBurger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  	<div class="container">
    <p>Welcome to <strong>Good Burger</strong>. Home of the <strong>Good Burger</strong>. Can I take your order?</p>
        <div class="col-lg-8 col-md-6">
        	<h1>Holidays This Month</h1>
        	<% @holidayz.each do |holiday| %>
                  <h3 class="headerText"> <%= holidays["name"] %> </h3>
            <% end %>
        </div>
        <div class="col-lg-4 col-md-6">
        	<h1>Holidays in June 1993</h1>
        	
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>