<!doctype html>
<html>
  <head>
    <title>David's Apps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="..public/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <h1>David's Apps</h1>
      </div>
    </nav>
  	<div class="container" id="content">
      <%= yield %>
  	</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>